.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}


div.ex{
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
}

div.ed{
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
}

div.pw{
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
}

div.ce{
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
}

div.ab{
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.ta {
    display: grid;
    grid-gap: 10px; /* Gap between grid items */
    margin-left: 100px;
    margin-right: 100px;
  }

  .item {
    background-color: #ddd;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.item .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
}

table, th, td{
    border: 1px solid white;
    align-items: center;
    padding: 20px;
    font-size: large;
}

table{
    table-layout: fixed;
    width: 100%;
    table-layout: auto;
    color: white;
    border-collapse: collapse;
}


th, td{
    text-align: center;
    width: 20%;
}


@media (min-width: 768px) {
    .ta {
      grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
    }
  }

  @media (min-width: 1024px) {
    .ta {
      grid-template-columns: repeat(3, 1fr); /* Three columns on even larger screens */
    }
  }