.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

div.ta{
    overflow-x: auto;
}

div.ex{
    overflow-x: auto;
}

div.ed{
    overflow-x: auto;
}


.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
}

table, th, td{
    border: 1px solid white;
    align-items: center;
    padding: 20px;
}

table{
    width: 100%;
    table-layout: auto;
    color: white;
    border-collapse: collapse;
}


th, td{
    text-align: center;
}

.about .right{
    max-width: 450px;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 90%;
    border: 1px solid #333;
}

.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}